#nn{
    /* background-image: url("./images/pic.jpg");
 background-position: 50% 50%;    */
 background-color: rgb(47, 180, 242);
}
/* #textinput{
    /* border: 1px solid rgb(77, 128, 229); */
    /* color: rgb(77, 128, 229)
}

div > #speechText{
    border: 1px solid ;
    color: rgb(77, 128, 229);
    font-size:larger;
} */

